/*
* トップページ
*/

#main_contents ul#topic {
	margin: 10px 0;
	padding: 0;
	overflow: hidden;
}

#main_contents ul#topic li {
	float: left;
	margin-right: 13px;
	list-style-type: none;
}

#main_contents ul#topic li.last {
	margin-right: 0;
}

h2.top {
	clear: both;
	margin: 5px 0;
	padding: 5px 0;
	background-color: #4567a1;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
}

table#whats_new, table#shop_list {
	color: #ffffff;
	font-size: 13px;
	border-collapse: separate;
	border-spacing: 5px;
	margin: 0 -5px;
}

table#whats_new {
	width: 560px;
	float: left;
}

table#shop_list {
	width: 910px;
}

table#whats_new th {
	background-color: #89b6d6;
	text-align: center;
}

table#whats_new td {
	background-color: #89b6d6;
	padding: 5px 3px;
}

table#shop_list td {
	background-color: #df8d9c;
	padding: 5px 3px;
}

div#side_banner {
	margin: 0;
	padding: 5px 0 5px 10px;
	width: 400px;
}

ul#side_banner{
	margin: 5px 0 0 10px;
	padding: 0;
	width: 340px;
	float: right;
}

ul#side_banner li{
	list-style-type: none;
}
